body{
    margin: 0%;
}
#navbar_main{
    margin-top: 1%;
}
#background_pic{
    height: 500px;
    width: 100%;
}
#navbar_content > li > a{
    color: white;
}
#logo{
margin-left: 6%;
}
#logo_my{
    background-color: red;
    border-radius: 5px;
}

#logo{
    color: white;
}
#login_button{
    margin-left: 1%;
}
#modebutton > img{
    height: 40px;
    width: 70px;
}
#nav_trip{
    margin-left: 40%;
}
#nav_trip > img{
    height: 30px;
    width: 30px;
}
#mytrip_navbar{
    margin-top: -1%;
    float: right;
}
#mytrip_navbar > a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    line-height: 16px;
    text-decoration: none;
}

#lng_button > img{
    height: 15px;
    width: 15px;
}
.mydark{
    background-color:black;
    color:white  
 }
#section{
    height: 150px;
    border: 0.5px solid gray;
    text-align: left;
}
#radio{
    margin-left: -71%;
}
#text1{
    margin-top: -2%;
    margin-left: 71%;
}
#flight1{
    margin-top: 1%;
    margin-left: 4%;
}
#flight2{
    margin-left: 55%;
    margin-top: -39%;
}

#search{
    margin-top: -21%;
    height: 220px;
    background-color: oldlace;
    color: black;
}
#search11 > a{
    width: 15%;
    margin-top: 1%;
    font-size: 32px;
}
#shortcut > a{
    text-decoration: none;
}
#shortcut > a > h5 > img{
    height: 40px;
    width: 40px;
}
#shortcut_button{
    height: 100px;
    width: 32%;
}
#shortcut_button > img{
    height: 50px;
    width: 50px;
    margin-top: 6%;
    margin-left: -84%;
}
#shortcut_button > h5{
    margin-top: -17%;
    margin-left: 15%;
}
#card{
    background-color: aliceblue;
    color: white;
    text-align: center;
}
#search_bar{
    margin-top: -18%;
    height: 70px;
    width: 65%;
    border-radius: 7px;
}
#searchbar_content > button{
    
}
.container1{
    background-color: white;
}
#search2{
    margin-top: 19%;
    margin-left: 10%;
    width: 80%;
}
.scrollable{
    width:100%;
    height:130px;
    overflow-x:scroll;
    white-space:nowrap;
  }
#form1 > input{
    height: 44px;
    width: 30%;
}
#form1 > a > img{
    height: 20px;
    width: 30px;
}
#form1 > button{
    height: 40px;
    margin-top: 0%;
}
#app_buttons{
    margin-top: -8%;
    margin-left: 80%;
}
#Qr_code{
    margin-top: -7%;
    margin-left: 92%;
}
#Qr_code > img{
    height: 100px;
    width: 100px ;
}
#offer_navbar{
    margin-top: -4%;
    margin-left: 18%;
}
#offer_div{
    color: black;
    background-color: aliceblue;
    height: 550px;
}
#offer_div > h1{
    padding-top: 20px;
    margin-left: 3%;
    font-size: 50px;
}
#card6{
    height: 370px;
    color: black;
}
#card123{
    width: 100%;
}
#card1234 > img{
    width: 100%;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    color: black;
}
.card-body > a{
    text-decoration: none;
}
#unlockdiv{
    margin-top: 2%;
}
#handpick{
    height: 252px;
    margin-top: 2%;
}
#chart3{
    height: 300px;
    color: black;
}
#wonders{
    height: 207px;
}
#maincontain1{
    height: 550px;
}
#maincontain12{
    color: black;
    background-color: aliceblue;
}
#chart1 > h4{ 
    font-size: 15px;
}
#chart1_content{
    color: gray;
    text-decoration: none;
    font-weight: normal;
}
#chart2 > h4{
    font-size: 15px;
}
#chart3 > h4{
    font-size: 15px;
}
#contain1{
    height: 210px;
    width: 33.33%;
    font-size: 12px;
}
#maincontain{
    background-color: whitesmoke;
}
#maincontain2{
    text-align: center;
    font-weight: bold;
}
#footer11 > a{
    text-decoration: none;
}
.social > img{
    height: 40px;
    width: 40px;
}
#leftfooter{
    float: left;
    margin-left: -25%;
    margin-top: -1%;
}
footer{
    height: 70px;
}