.firsttitle00{
    height: 180px;
    width: 22%;
    /* border: 2px black solid; */
    float: left;
    margin-left: 2%;
}
#maindiv00{
    margin: auto;
    height: 185px;
    width: 96%;
    /* background-color: lightcyan; */
}
#maincontain10{
    height: 400px;
    margin-top: 2%;
    /* border: 4px gray solid; */
}
#maincontain10 > h2{
    font-size: 50px;
    margin-left: 2%;
    background-color: lightcyan;
}
.firsttitle00> img{
    height: 180px;
    width: 100% ;
}

.firsttitle00 > a{
    text-decoration: none;
    margin-left: 5%;
    font-size: 25px;
    
}