header{
    height:50px;
}
#navbar_main{
    margin-left: 1%;
    text-decoration: none;
}
#headermain{
    height:50px;
    width: 100%;
    background-color: black;
}
#navbar_main{
    margin-left: 1%;
    text-decoration: none;
}

#icon{
    float:left
}

#logo_my{
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
}

#logo{
    color: white;
    font-size: 30px;
    margin-top: 0%;
    margin-left: 1%;
    text-decoration: none;
}
#logo > span{
    margin-top: 1%;
}

#social{
    float: right;
    margin-right: 7%;
    margin-top: -1%;
}

.slogo{
    height: 50px;
    width: 50px;
}
.btnclass{
    margin-top: 1%;
}
.btnlogin{
    display:inline-block;
}
.btnlogin > a{
    color: black;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
}





/* #headermain{
    height:40px;
    width: 100%;
    background-color: black;
}
#navbar_main{
    margin-left: 1%;
    text-decoration: none;
}
#navbar_main > a > a{
    text-decoration: none;
}
#icon{
    float:left
}

#logo_my{
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
}

#logo{
    color: white;
    font-size: 30px;
    margin-top: 0%;
    margin-left: 1%;
    text-decoration: none;
}
#logo > span{
    margin-top: 1%;
}

#social{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
} */